body {
  padding-top: 0px;
  background-color: #F5F5F5;
  font-family: Arial
}
.row{
  min-width: 400px;
}
.body-border{
  height: auto;
  width: 100%;
  position: relative;
  float: left;
   -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.75);
}
.columns {
  padding: 0;
  }
/*NAVBAR PRICIPAL*/
.navbar-inverse {
  background-color: #00510D;
  border: 0px;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.5);
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  color: #D8D8D8;
  border-bottom: 2px;
  border-style: solid;
  border-color: #00dd95;
  background-color: #01420C;
  transition: background-color 0.3s linear;
}
.body-view{
  margin-bottom: 37px;
}
.navbar-inverse .navbar-nav>li>a{
  color: #D8D8D8;
  font-size:10px;
}
.navbar-inverse .navbar-brand{
  color: #D8D8D8;
  font-size:16px;
  padding-top: 8px;
}
img {
  width: 70%;
  max-width: 160px;
  height: auto;
}
.navbar-inverse .navbar-nav>li>a:hover {
  color: #F5F5F5;
  border-bottom: 2px;
  border-style: solid;
  border-color: #00dd95;
  background-color: #01420C;
  transition: background-color 0.3s linear;

}
.navbar {
  margin: 0px;
  border-radius: 0;
  min-height: 52px;
}

/*FOOTER*/
.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  width: 100%;
  height: 35px;
  background-color: #4F4F4F;
  float: left;
}
.text-muted {
  text-align: center;
  font-size: 84%;
  color: white;
  line-height: 35px;
  margin: 0;
}
@media screen and (min-width: 0px) {
   body { font-size: 75%; }
}
@media screen and (min-width: 640px) {
   body { font-size: 85%; }
}
/* aplica somente a partir de 320px */
@media screen and (min-width: 1024px) {
   body { font-size: 100%; }
}
